{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container my-2">
    <form method="GET">
        
        <div class="form-group">
          <label for="comment">Comment</label>
          <input type="text" class="form-control" id="comment" name="comment">
        </div>
        
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
</div>
<div class="container my-2">
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">username&nbsp;&nbsp;time</h5>
          <p class="card-text">comment</p>
         
        </div>
      </div>
</div>
{% endblock %}